body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.slide {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    scroll-snap-align: start;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    position: relative;
}

#slide1 { background-color: #dc143cb8; }
#slide2 { background-color: #FFB6C1; }
#slide3 { background-color: #ff69b4b9; }
#slide4 { background-color: #DB7093; }
#slide5 { background-color: #FFE4E1; }
#slide6 { background-color: #ff1491a3; }
#slide7 { background-color: #c720ca77; }
#slide8 { background-color: #ff006677; }
#slide9 { background-color: #fe9baa; }
#slide10 { background-color: rgba(198, 30, 97, 0.875); }

.slide.active {
    opacity: 1;
}

.slide-text {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .slide-text {
        font-size: 24px;
        padding: 60px;
    }
}

@media (max-height: 700px) {
    .slide-text {
        font-size: 20px;
        padding: 60px;
    }
}

.slide-text img {
    max-width: 90%;
    height: auto;
    margin: 20px 0;
}

@media (max-width: 600px) {
    .slide-text img {
        max-width: 90%;
    }
}